<div class="chat">
    <!-- <h3 class="section-title">Messages</h3>   -->

    <div class="alert alert-danger" role="alert" *ngIf="error != null">
        Error during loading of data: {{error.message}}
    </div>

    <div *ngIf="loaded == false"> ...loading</div>

    <!-- <div class="tb-all-objects-table" *ngIf="loaded == true && messages.length > 0">
      <table class="table table-bordered">
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Content</th>
              <th>Created</th>
          </tr>
          <tr *ngFor="let message of messages">
              <td>{{message.id}}</td>
              <td>{{message.userName}}</td>
              <td>{{message.content}}</td>
              <td>{{message.createdAt | timestamp}}</td>
          </tr>
      </table>
  </div> -->

    <div class="container clearfix">
        <div class="chat">
            <div class="chat-history">
                <div class="chat-messages" *ngIf="loaded == true && messages.length > 0">
                    <ul>
                        <li class="clearfix" *ngFor="let message of messages">
                            <div class="message-data align-right">
                                <span class="message-data-time">{{message.createdAt | timestamp}}</span> &nbsp; &nbsp;
                                <span class="message-data-name">{{message.userName}}</span> <i class="fa fa-circle me"></i>
                            </div>
                            <div class="message other-message float-right">
                                {{message.content}}
                            </div>
                        </li>

                        <!-- <li>
                            <div class="message-data">
                                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">
                                Are we meeting today? Project has been already finished and I have results to show you.
                            </div>
                        </li> -->
                    </ul>
                </div>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">
                <textarea name="messageContent" id="messageContent" placeholder="Type your message"
                    rows="3" [(ngModel)]="messageContent"></textarea>
                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>
                <button (click)="sendMessage()">Send</button>
            </div> <!-- end chat-message -->
        </div> <!-- end chat -->
    </div> <!-- end container -->
</div>
